{% extends '_base.html' %}
{% load static %}
{% block title %}
My Albums
{% endblock title %}

{% block content %}
<h1>My own Albums</h1>
{% if user.is_authenticated %}
<h2>Hi {{ user.username }} (email: {{ user.email }})</h2><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Want to share a new memory?</h3>
        </div>
        <div class="col-md-3">
            <a href="{% url 'albums:add_album' %}" class="btn btn-success">Create</a>
        </div>
        <div class="col-md-3">
            <h4></h4>
        </div>
    </div><br>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Your Albums Should be here</h4>
            <p>Below is a list of your albums</p>
            {% for album in albums %}
            <ul>
                <li><a href="{% url 'albums:view_album' album.id %}">{{ album.title }}</a> - {{ album.description }} -
                    {{ album.author }}
                </li>
            </ul>
            {% endfor %}
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

{% comment %} <img src="{% static 'images/henki.jpg' %}" alt="" class="intro_img"> {% endcomment %}
{% else %}
<p>You are not logged in</p>
{% endif %}
{% endblock content %}