{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Album
{% endblock title %}

{% block content %}
<h1>Album</h1>
{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>{{ album.title }} <a class="btn btn-success" href="#">albums (make this btn work)</a></h2>
            <p>{{ album.description }}</p>
            <p>{{ album.blog }}</p>
            <br><br>


            <!-- PHOTO GALLERY -->
            <h3>Photos!</h3>
            <section class="photo_gallery">
                {% for gallery_image in album.images.all %}
                <a href="{{ gallery_image.image.url }}"><img src="{{ gallery_image.image.url }}" alt="" title="" /></a>
                <h4>{{ gallery_image.caption }}</h4>
                {% endfor %}
            </section>

        </div>
        <div class="col-md-3">
            <a href="{% url 'albums:edit_album' album.id %}" class="btn btn-warning">Edit</a>
        </div>
    </div>
</div>
<script>
    var gallery = new SimpleLightbox('.photo_gallery a');
</script>
{% else %}
<p>You are not logged in</p>
{% endif %}
{% endblock content %}