{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Album
{% endblock title %}

{% block content %}
<h1>Create an Album</h1>
{% if user.is_authenticated %}


<div class="row">
    <div class="col-6 offset-md-3">
        <form id="album_form" method="post" action="." enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <input type="submit" name="submit" value="Save" class="btn btn-success" /><br>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'pages:home' %}" class="btn btn-warning">Cancel</a>
                    </div>
                </div><br>
            </div>
            {% csrf_token %}

            {{ album_form|crispy }}
            <br>
            <h3>Now add photos and their captions</h3>
            <br><br>
            {{ formset.management_form }}
            {% for form in formset %}
            {{ form|crispy }}
            <br>
            <br>
            {% endfor %}

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" name="submit" value="Save" class="btn btn-success" /><br>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'albums:add_album' %}" class="btn btn-warning">Cancel</a>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<br><br>
{% else %}
<p>You are not logged in</p>
{% endif %}
{% endblock content %}